openapi: 3.0.3
info:
  title: Flowdock Push Authentication Private Conversations API
  version: '1.0'
  x-status: discontinued
  x-deprecated-by-vendor: true
  x-shutdown-date: '2023-08-15'
  description: 'The Flowdock Push API was the legacy "post-only" integration surface for

    sending content into a Flow''s Team Inbox or Chat using a per-flow API

    token (no user authentication). It was deprecated in favor of the

    Messages endpoint of the REST API and was retired with the rest of

    Flowdock on August 15, 2023.


    Reconstructed from the historical https://github.com/flowdock/api-docs

    repository (docs/push.md, docs/team-inbox.md, docs/chat.md).

    '
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
tags:
- name: Private Conversations
  description: One-to-one direct message channels between two users.
paths:
  /private:
    get:
      tags:
      - Private Conversations
      summary: List Private Conversations
      operationId: listPrivateConversations
      responses:
        '200':
          description: List of private conversations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateConversation'
  /private/{id}:
    get:
      tags:
      - Private Conversations
      summary: Get Private Conversation
      operationId: getPrivateConversation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Private conversation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateConversation'
    put:
      tags:
      - Private Conversations
      summary: Update Private Conversation
      operationId: updatePrivateConversation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                open:
                  type: boolean
      responses:
        '200':
          description: Conversation updated.
components:
  schemas:
    PrivateConversation:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        name:
          type: string
        open:
          type: boolean
        activity:
          type: object
          properties:
            inbox:
              type: boolean
            mentions:
              type: integer
            chat:
              type: boolean
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string
        nick:
          type: string
        avatar:
          type: string
          format: uri
        website:
          type: string
          format: uri
        admin:
          type: boolean
