openapi: 3.2.0
info:
  title: Flowdock REST Private Messages API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Private Messages
  description: Messages within a private conversation.
paths:
  /private/{id}/messages:
    get:
      tags:
      - Private Messages
      summary: List Private Messages
      operationId: listPrivateMessages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      - name: since_id
        in: query
        schema:
          type: integer
      - name: until_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of private messages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
    post:
      tags:
      - Private Messages
      summary: Send Private Message
      operationId: sendPrivateMessage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageInput'
      responses:
        '201':
          description: Private message sent.
  /private/{id}/messages/{message_id}:
    get:
      tags:
      - Private Messages
      summary: Show Private Message
      operationId: showPrivateMessage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Single private message.
components:
  schemas:
    MessageInput:
      type: object
      required:
      - event
      - content
      properties:
        event:
          type: string
          enum:
          - message
          - status
          - comment
          - action
          - activity
          - discussion
          - file
        content:
          oneOf:
          - type: string
          - type: object
        flow:
          type: string
        message:
          type: integer
        tags:
          type: array
          items:
            type: string
        external_user_name:
          type: string
        uuid:
          type: string
        thread_id:
          type: string
        external_thread_id:
          type: string
    Message:
      type: object
      properties:
        id:
          type: integer
        app:
          type: string
        event:
          type: string
        flow:
          type: string
        content: {}
        sent:
          type: integer
          format: int64
        user:
          type: string
        created_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
        attachments:
          type: array
          items:
            type: object
        thread_id:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        uuid:
          type: string
    Thread:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        status:
          type: object
          properties:
            color:
              type: string
            value:
              type: string
        fields:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
        actions:
          type: array
          items:
            type: object
        external_url:
          type: string
          format: uri
        actor:
          type: object
          properties:
            name:
              type: string
            avatar:
              type: string
              format: uri
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
