openapi: 3.2.0
info:
  title: Flowdock REST Files API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Files
  description: File uploads and downloads attached to messages.
paths:
  /files/{organization}/{hash}/{filename}:
    get:
      tags:
      - Files
      summary: Download File
      operationId: downloadFile
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: integer
          description: Numeric organization id used in file paths.
      - name: hash
        in: path
        required: true
        schema:
          type: string
      - name: filename
        in: path
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Redirect to a short-lived S3 download URL.
          headers:
            Location:
              schema:
                type: string
                format: uri
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
