openapi: 3.2.0
info:
  title: Flowdock REST Organizations API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Organizations
  description: Account-level container that owns flows and bills users.
paths:
  /organizations:
    get:
      tags:
      - Organizations
      summary: List Organizations
      operationId: listOrganizations
      responses:
        '200':
          description: List of organizations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
  /organizations/{parameterized_name}:
    get:
      tags:
      - Organizations
      summary: Get Organization
      operationId: getOrganization
      parameters:
      - name: parameterized_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    put:
      tags:
      - Organizations
      summary: Update Organization
      operationId: updateOrganization
      parameters:
      - name: parameterized_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parameterized_name:
                  type: string
      responses:
        '200':
          description: Organization updated.
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: integer
        parameterized_name:
          type: string
        name:
          type: string
        user_limit:
          type: integer
        user_count:
          type: integer
        active:
          type: boolean
        url:
          type: string
          format: uri
        subscription:
          type: object
          properties:
            trial:
              type: boolean
            trial_ends:
              type: string
              format: date
            billing_date:
              type: string
              format: date
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
