openapi: 3.0.3
info:
  title: Flowdock Push Authentication Chat API
  version: '1.0'
  x-status: discontinued
  x-deprecated-by-vendor: true
  x-shutdown-date: '2023-08-15'
  description: 'The Flowdock Push API was the legacy "post-only" integration surface for

    sending content into a Flow''s Team Inbox or Chat using a per-flow API

    token (no user authentication). It was deprecated in favor of the

    Messages endpoint of the REST API and was retired with the rest of

    Flowdock on August 15, 2023.


    Reconstructed from the historical https://github.com/flowdock/api-docs

    repository (docs/push.md, docs/team-inbox.md, docs/chat.md).

    '
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
tags:
- name: Chat
  description: Chat-style messages posted as an external user.
paths:
  /v1/messages/chat/{flow_api_token}:
    post:
      tags:
      - Chat
      summary: Push Chat Message
      operationId: pushChat
      description: Post a chat message to a flow as an "external user".
      parameters:
      - name: flow_api_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChatMessage'
      responses:
        '200':
          description: Message accepted.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    ChatMessage:
      type: object
      required:
      - content
      - external_user_name
      properties:
        content:
          type: string
          maxLength: 8096
        external_user_name:
          type: string
        tags:
          oneOf:
          - type: array
            items:
              type: string
          - type: string
        message_id:
          type: integer
          description: ID of the parent message when sending a comment.
