openapi: 3.2.0
info:
  title: Flowdock REST Users API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Users
  description: User accounts that may belong to multiple organizations and flows.
paths:
  /users:
    get:
      tags:
      - Users
      summary: List All Visible Users
      operationId: listUsers
      responses:
        '200':
          description: List of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /users/{id}:
    get:
      tags:
      - Users
      summary: Get User
      operationId: getUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
      - Users
      summary: Update User
      operationId: updateUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nick:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: User updated.
  /flows/{organization}/{flow}/users:
    get:
      tags:
      - Users
      summary: List Flow Users
      operationId: listFlowUsers
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      responses:
        '200':
          description: List of flow users.
    post:
      tags:
      - Users
      summary: Add User To Flow
      operationId: addUserToFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
      responses:
        '200':
          description: User added to flow.
  /flows/{organization}/{flow}/users/{id}:
    delete:
      tags:
      - Users
      summary: Remove User From Flow
      operationId: removeUserFromFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: User removed.
  /organizations/{organization}/users/{id}:
    delete:
      tags:
      - Users
      summary: Remove User From Organization
      operationId: removeUserFromOrganization
      parameters:
      - $ref: '#/components/parameters/Organization'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: User removed.
components:
  parameters:
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string
        nick:
          type: string
        avatar:
          type: string
          format: uri
        website:
          type: string
          format: uri
        admin:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
