openapi: 3.2.0
info:
  title: Flowdock REST Sources API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Sources
  description: External integrations (GitHub, Jira, Zendesk, etc.) that post into a flow.
paths:
  /sources:
    get:
      tags:
      - Sources
      summary: List Sources
      operationId: listSources
      responses:
        '200':
          description: List of sources visible to the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Source'
  /flows/{organization}/{flow}/sources:
    get:
      tags:
      - Sources
      summary: List Flow Sources
      operationId: listFlowSources
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      responses:
        '200':
          description: List of sources attached to the flow.
    post:
      tags:
      - Sources
      summary: Create Source
      operationId: createSource
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                external_url:
                  type: string
                  format: uri
      responses:
        '201':
          description: Source created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
  /flows/{organization}/{flow}/sources/{id}:
    get:
      tags:
      - Sources
      summary: Get Source
      operationId: getSource
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Source.
    put:
      tags:
      - Sources
      summary: Update Source
      operationId: updateSource
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                external_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Source updated.
    delete:
      tags:
      - Sources
      summary: Delete Source
      operationId: deleteSource
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Source deleted.
components:
  parameters:
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string
        nick:
          type: string
        avatar:
          type: string
          format: uri
        website:
          type: string
          format: uri
        admin:
          type: boolean
    Source:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        url:
          type: string
          format: uri
        external_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        application:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            icon_url:
              type: string
              format: uri
            url:
              type: string
              format: uri
        creator:
          $ref: '#/components/schemas/User'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
