openapi: 3.0.3
info:
  title: Flowdock Push Authentication Users API
  version: '1.0'
  x-status: discontinued
  x-deprecated-by-vendor: true
  x-shutdown-date: '2023-08-15'
  description: 'The Flowdock Push API was the legacy "post-only" integration surface for

    sending content into a Flow''s Team Inbox or Chat using a per-flow API

    token (no user authentication). It was deprecated in favor of the

    Messages endpoint of the REST API and was retired with the rest of

    Flowdock on August 15, 2023.


    Reconstructed from the historical https://github.com/flowdock/api-docs

    repository (docs/push.md, docs/team-inbox.md, docs/chat.md).

    '
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
tags:
- name: Users
  description: User accounts that may belong to multiple organizations and flows.
paths:
  /users:
    get:
      tags:
      - Users
      summary: List All Visible Users
      operationId: listUsers
      responses:
        '200':
          description: List of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /users/{id}:
    get:
      tags:
      - Users
      summary: Get User
      operationId: getUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
      - Users
      summary: Update User
      operationId: updateUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nick:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: User updated.
  /flows/{organization}/{flow}/users:
    get:
      tags:
      - Users
      summary: List Flow Users
      operationId: listFlowUsers
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      responses:
        '200':
          description: List of flow users.
    post:
      tags:
      - Users
      summary: Add User To Flow
      operationId: addUserToFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
      responses:
        '200':
          description: User added to flow.
  /flows/{organization}/{flow}/users/{id}:
    delete:
      tags:
      - Users
      summary: Remove User From Flow
      operationId: removeUserFromFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: User removed.
  /organizations/{organization}/users/{id}:
    delete:
      tags:
      - Users
      summary: Remove User From Organization
      operationId: removeUserFromOrganization
      parameters:
      - $ref: '#/components/parameters/Organization'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: User removed.
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string
        nick:
          type: string
        avatar:
          type: string
          format: uri
        website:
          type: string
          format: uri
        admin:
          type: boolean
  parameters:
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
