openapi: 3.0.3
info:
  title: Flowdock Push Authentication Team Inbox API
  version: '1.0'
  x-status: discontinued
  x-deprecated-by-vendor: true
  x-shutdown-date: '2023-08-15'
  description: 'The Flowdock Push API was the legacy "post-only" integration surface for

    sending content into a Flow''s Team Inbox or Chat using a per-flow API

    token (no user authentication). It was deprecated in favor of the

    Messages endpoint of the REST API and was retired with the rest of

    Flowdock on August 15, 2023.


    Reconstructed from the historical https://github.com/flowdock/api-docs

    repository (docs/push.md, docs/team-inbox.md, docs/chat.md).

    '
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
tags:
- name: Team Inbox
  description: Mail-like messages posted into a flow's team inbox.
paths:
  /v1/messages/team_inbox/{flow_api_token}:
    post:
      tags:
      - Team Inbox
      summary: Push Team Inbox Message
      operationId: pushTeamInbox
      description: Send a mail-like message into a flow's team inbox using its API token.
      parameters:
      - name: flow_api_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamInboxMessage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TeamInboxMessage'
      responses:
        '200':
          description: Message accepted.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    TeamInboxMessage:
      type: object
      required:
      - source
      - from_address
      - subject
      - content
      properties:
        source:
          type: string
          description: Human readable identifier of the application that uses the Push API.
        from_address:
          type: string
          format: email
        subject:
          type: string
        content:
          type: string
          description: HTML body of the inbox message.
        from_name:
          type: string
        reply_to:
          type: string
          format: email
        project:
          type: string
        format:
          type: string
          enum:
          - html
        link:
          type: string
          format: uri
        tags:
          oneOf:
          - type: array
            items:
              type: string
          - type: string
