openapi: 3.2.0
info:
  title: Flowdock REST Authentication API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Authentication
  description: OAuth 2.0 authorization-code grant for user delegation.
paths:
  /oauth/authorize:
    get:
      tags:
      - Authentication
      summary: Begin OAuth 2.0 Authorization
      operationId: oauthAuthorize
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - code
      - name: redirect_uri
        in: query
        schema:
          type: string
          format: uri
      - name: scope
        in: query
        schema:
          type: string
          description: Space-delimited list of scopes (flow
          private: null
          profile).: null
      - name: state
        in: query
        schema:
          type: string
      responses:
        '302':
          description: Redirect back to redirect_uri with an authorization code.
  /oauth/token:
    post:
      tags:
      - Authentication
      summary: Exchange Authorization Code for Access Token
      operationId: oauthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - client_id
              - client_secret
              - code
              - redirect_uri
              - grant_type
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - refresh_token
                refresh_token:
                  type: string
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  token_type:
                    type: string
                  scope:
                    type: string
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
