openapi: 3.2.0
info:
  title: Flowdock REST Private Conversations API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Private Conversations
  description: One-to-one direct message channels between two users.
paths:
  /private:
    get:
      tags:
      - Private Conversations
      summary: List Private Conversations
      operationId: listPrivateConversations
      responses:
        '200':
          description: List of private conversations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateConversation'
  /private/{id}:
    get:
      tags:
      - Private Conversations
      summary: Get Private Conversation
      operationId: getPrivateConversation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Private conversation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateConversation'
    put:
      tags:
      - Private Conversations
      summary: Update Private Conversation
      operationId: updatePrivateConversation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                open:
                  type: boolean
      responses:
        '200':
          description: Conversation updated.
components:
  schemas:
    PrivateConversation:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        name:
          type: string
        open:
          type: boolean
        activity:
          type: object
          properties:
            inbox:
              type: boolean
            mentions:
              type: integer
            chat:
              type: boolean
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string
        nick:
          type: string
        avatar:
          type: string
          format: uri
        website:
          type: string
          format: uri
        admin:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
