openapi: 3.0.3
info:
  title: Flowdock Push Authentication SCIM API
  version: '1.0'
  x-status: discontinued
  x-deprecated-by-vendor: true
  x-shutdown-date: '2023-08-15'
  description: 'The Flowdock Push API was the legacy "post-only" integration surface for

    sending content into a Flow''s Team Inbox or Chat using a per-flow API

    token (no user authentication). It was deprecated in favor of the

    Messages endpoint of the REST API and was retired with the rest of

    Flowdock on August 15, 2023.


    Reconstructed from the historical https://github.com/flowdock/api-docs

    repository (docs/push.md, docs/team-inbox.md, docs/chat.md).

    '
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
tags:
- name: SCIM
  description: SCIM 1.x user provisioning for SSO-enabled Flowdock organizations.
paths:
  /scim/{uid}:
    get:
      tags:
      - SCIM
      summary: Verify SCIM Authorization
      operationId: scimRoot
      parameters:
      - $ref: '#/components/parameters/Uid'
      responses:
        '200':
          description: Authorization OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Missing authorization header.
        '403':
          description: Invalid or wrong-token authorization header.
        '429':
          description: Rate-limited; retry later.
  /scim/{uid}/Users:
    get:
      tags:
      - SCIM
      summary: List SCIM Users
      operationId: scimListUsers
      parameters:
      - $ref: '#/components/parameters/Uid'
      responses:
        '200':
          description: SCIM Users collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScimUser'
    post:
      tags:
      - SCIM
      summary: Provision SCIM User
      operationId: scimCreateUser
      parameters:
      - $ref: '#/components/parameters/Uid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUser'
      responses:
        '201':
          description: User provisioned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
  /scim/{uid}/Users/{id}:
    get:
      tags:
      - SCIM
      summary: Get SCIM User
      operationId: scimGetUser
      parameters:
      - $ref: '#/components/parameters/Uid'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: User resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
    put:
      tags:
      - SCIM
      summary: Update SCIM User
      operationId: scimUpdateUser
      parameters:
      - $ref: '#/components/parameters/Uid'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUser'
      responses:
        '200':
          description: User updated.
    delete:
      tags:
      - SCIM
      summary: Deactivate SCIM User
      operationId: scimDeleteUser
      parameters:
      - $ref: '#/components/parameters/Uid'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: User deactivated.
components:
  parameters:
    Uid:
      name: uid
      in: path
      required: true
      description: SSO organization UID issued during SSO setup.
      schema:
        type: string
  schemas:
    ScimUser:
      type: object
      properties:
        id:
          type: integer
        externalId:
          type: string
        userName:
          type: string
          format: email
        nickName:
          type: string
        name:
          type: object
          properties:
            givenName:
              type: string
            familyName:
              type: string
        emails:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                format: email
        meta:
          type: object
          properties:
            location:
              type: string
              format: uri
            created:
              type: string
              format: date-time
            lastModified:
              type: string
              format: date-time
