openapi: 3.2.0
info:
  title: Flowdock REST Threads API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Threads
  description: Threaded conversations rooted on a parent message.
paths:
  /flows/{organization}/{flow}/threads:
    get:
      tags:
      - Threads
      summary: List Flow Threads
      operationId: listFlowThreads
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: application
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of threads.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Thread'
  /flows/{organization}/{flow}/threads/{id}:
    get:
      tags:
      - Threads
      summary: Get Thread
      operationId: getThread
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Thread object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
components:
  parameters:
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
  schemas:
    Thread:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        status:
          type: object
          properties:
            color:
              type: string
            value:
              type: string
        fields:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
        actions:
          type: array
          items:
            type: object
        external_url:
          type: string
          format: uri
        actor:
          type: object
          properties:
            name:
              type: string
            avatar:
              type: string
              format: uri
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
