openapi: 3.2.0
info:
  title: Flowdock REST Invitations API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Invitations
  description: Open and accepted invitations to join a flow.
paths:
  /flows/{organization}/{flow}/invitations:
    get:
      tags:
      - Invitations
      summary: List Flow Invitations
      operationId: listInvitations
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      responses:
        '200':
          description: List of pending and accepted invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invitation'
    post:
      tags:
      - Invitations
      summary: Create Invitation
      operationId: createInvitation
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                message:
                  type: string
      responses:
        '201':
          description: Invitation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
  /flows/{organization}/{flow}/invitations/{id}:
    get:
      tags:
      - Invitations
      summary: Get Invitation
      operationId: getInvitation
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Invitation.
    delete:
      tags:
      - Invitations
      summary: Delete Invitation
      operationId: deleteInvitation
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Invitation revoked.
  /flows/{organization}/{flow}/invitations/import:
    post:
      tags:
      - Invitations
      summary: Import Address List
      operationId: importInvitations
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - addresses
              properties:
                addresses:
                  type: array
                  items:
                    type: string
                    format: email
                message:
                  type: string
      responses:
        '200':
          description: Addresses imported.
components:
  schemas:
    Invitation:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
          enum:
          - pending
          - accepted
        email:
          type: string
          format: email
        flow:
          type: string
        url:
          type: string
          format: uri
  parameters:
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
