openapi: 3.2.0
info:
  title: Flowdock REST Flows API
  version: '1.0'
  x-status: discontinued
  x-shutdown-date: '2023-08-15'
  description: 'Historical REST API surface for CA Flowdock, a team chat and shared-inbox

    product originally built by Flowdock (Helsinki / Tampere, Finland), acquired

    by CA Technologies (2013), and later operated under Broadcom.'
  contact:
    name: Flowdock (discontinued)
    url: https://github.com/flowdock/api-docs
  license:
    name: Documentation rights held by CA / Broadcom
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
security:
- oauth2: []
- basicAuth: []
tags:
- name: Flows
  description: Team workspaces combining chat and a shared team inbox.
paths:
  /flows:
    get:
      tags:
      - Flows
      summary: List Flows For Authenticated User
      operationId: listFlows
      parameters:
      - name: users
        in: query
        description: Set to 1 to include the list of users with each flow.
        schema:
          type: integer
          enum:
          - 0
          - 1
      responses:
        '200':
          description: List of joined flows.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Flow'
  /flows/all:
    get:
      tags:
      - Flows
      summary: List All Flows Visible To User
      operationId: listAllFlows
      responses:
        '200':
          description: All flows the user can see (including organization-mode flows not joined).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Flow'
  /flows/{organization}/{flow}:
    get:
      tags:
      - Flows
      summary: Get Flow
      operationId: getFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      responses:
        '200':
          description: Flow object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
    put:
      tags:
      - Flows
      summary: Update Flow
      operationId: updateFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                open:
                  type: boolean
                access_mode:
                  type: string
                  enum:
                  - invitation
                  - link
                  - organization
      responses:
        '200':
          description: Updated flow.
  /flows/find:
    get:
      tags:
      - Flows
      summary: Get Flow By Id
      operationId: getFlowById
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Flow object.
  /flows/{organization}:
    post:
      tags:
      - Flows
      summary: Create Flow
      operationId: createFlow
      parameters:
      - $ref: '#/components/parameters/Organization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Flow created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: integer
        parameterized_name:
          type: string
        name:
          type: string
        user_limit:
          type: integer
        user_count:
          type: integer
        active:
          type: boolean
        url:
          type: string
          format: uri
        subscription:
          type: object
          properties:
            trial:
              type: boolean
            trial_ends:
              type: string
              format: date
            billing_date:
              type: string
              format: date
    Flow:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        parameterized_name:
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        unread_mentions:
          type: integer
        open:
          type: boolean
        joined:
          type: boolean
        url:
          type: string
          format: uri
        web_url:
          type: string
          format: uri
        join_url:
          type: string
          format: uri
        access_mode:
          type: string
          enum:
          - invitation
          - link
          - organization
  parameters:
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.flowdock.com/oauth/authorize
          tokenUrl: https://api.flowdock.com/oauth/token
          scopes:
            flow: Read and write flow content.
            private: Read and write private conversations.
            profile: Read user profile.
    basicAuth:
      type: http
      scheme: basic
      description: Email + password, or personal API token as the username.
