openapi: 3.0.3
info:
  title: Flowdock Push Authentication Invitations API
  version: '1.0'
  x-status: discontinued
  x-deprecated-by-vendor: true
  x-shutdown-date: '2023-08-15'
  description: 'The Flowdock Push API was the legacy "post-only" integration surface for

    sending content into a Flow''s Team Inbox or Chat using a per-flow API

    token (no user authentication). It was deprecated in favor of the

    Messages endpoint of the REST API and was retired with the rest of

    Flowdock on August 15, 2023.


    Reconstructed from the historical https://github.com/flowdock/api-docs

    repository (docs/push.md, docs/team-inbox.md, docs/chat.md).

    '
servers:
- url: https://api.flowdock.com
  description: Historical production base URL (offline since 2023-08-15)
tags:
- name: Invitations
  description: Open and accepted invitations to join a flow.
paths:
  /flows/{organization}/{flow}/invitations:
    get:
      tags:
      - Invitations
      summary: List Flow Invitations
      operationId: listInvitations
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      responses:
        '200':
          description: List of pending and accepted invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invitation'
    post:
      tags:
      - Invitations
      summary: Create Invitation
      operationId: createInvitation
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                message:
                  type: string
      responses:
        '201':
          description: Invitation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
  /flows/{organization}/{flow}/invitations/{id}:
    get:
      tags:
      - Invitations
      summary: Get Invitation
      operationId: getInvitation
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Invitation.
    delete:
      tags:
      - Invitations
      summary: Delete Invitation
      operationId: deleteInvitation
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Invitation revoked.
  /flows/{organization}/{flow}/invitations/import:
    post:
      tags:
      - Invitations
      summary: Import Address List
      operationId: importInvitations
      parameters:
      - $ref: '#/components/parameters/Organization'
      - $ref: '#/components/parameters/FlowName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - addresses
              properties:
                addresses:
                  type: array
                  items:
                    type: string
                    format: email
                message:
                  type: string
      responses:
        '200':
          description: Addresses imported.
components:
  parameters:
    FlowName:
      name: flow
      in: path
      required: true
      description: Flow parameterized name within the organization.
      schema:
        type: string
    Organization:
      name: organization
      in: path
      required: true
      description: Organization parameterized name.
      schema:
        type: string
  schemas:
    Invitation:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
          enum:
          - pending
          - accepted
        email:
          type: string
          format: email
        flow:
          type: string
        url:
          type: string
          format: uri
